<?php ?>
<head>
	

</head>
<div  class="container" style="display: none;">
	<div class="row" id="pdfHojaResguardo">
		<table>
			<tr>
				<td colspan="2" style="text-align: right;">
					{{fechaActual}}
				</td>
			</tr>
			<tr>
				<td style="width: 30%">
					<img src="../../../includees/imagenes/Mayucsa.png" style="width: 80%">
				</td>
				<td style="width:70%; text-align: center; padding-top: 10px;">
					<h4>RESGUARDO DE EQUIPOS INFORMATICOS - MAYUCSA</h4>
				</td>
			</tr>
		</table>

		<div style=" display: flex;"> 
			<div style=" flex: 1;  margin: 10px;  padding: 15px; border: solid 1px;">
				<span><b style="font-weight: bold; text-align: startr;">NÚMERO DE RESGURADO:</b> {{resguardo[0].numeroresguardo}}</span>

			</div>
			<div style=" flex: 1;  margin: 10px;  padding: 15px; border: solid 1px;">
				<span><b style="font-weight: bold; text-align: startr;">FECHA DE ASIGNACIÓN: </b>{{resguardo[0].fechaasignacion}}</span>
 
			</div>
		</div>
		

		<table  class="table table-bordered" style="border-collapse: collapse; width:100%;">
			<tr style="border: solid 1px; background-color: #999999;">
				<th colspan="5" style="text-align: center;">DATOS GENERALES DE QUIEN RESGUARDA EL EQUIPO INFORMATICO</th>
			</tr>
			<tr ng-if="resguardo.length > 0">
				<td style="border: solid 1px; text-align: startr; " class="text-center"><b style="font-weight: bold;">RESGUARDANTE:</b> {{resguardo[0].nombrecompleto}}</td>
				<td style="border: solid 1px; text-align: startr; " class="text-center"><b style="font-weight: bold;">AREA:</b> {{resguardo[0].departamento}} </td>
			</tr>
			<tr ng-if="resguardo.length > 0">
				<td style="border: solid 1px; text-align: startr; " class="text-center"><b style="font-weight: bold;">PUESTO:</b> {{resguardo[0].puesto}} </td>
				<td style="border: solid 1px; text-align: startr; " class="text-center"><b style="font-weight: bold;">NUMERO DE EMPLEADO:</b> {{resguardo[0].codigoempleado}}</td>
			</tr>
		</table>
		
		<br>
		<table class="table table-bordered" style="border-collapse: collapse; width:100%;">
			<thead>
				<tr style="border: solid 1px; background-color: #999999;">
					<th colspan="7" style="text-align: center;" >REGISTRO DE HARDWARE</th>
				</tr>
				<tr style="border: solid 1px;">
					<th style="border: solid 1px; text-align: center;" class="text-center">EQUIPO</th>
					<th style="border: solid 1px; text-align: center;" class="text-center">MARCA</th>
					<th style="border: solid 1px; text-align: center;" class="text-center">MODELO</th>
					<th style="border: solid 1px; text-align: center;" class="text-center">No. SERIE</th>
					<th style="border: solid 1px; text-align: center;" class="text-center">FOLIO</th>
					<th style="border: solid 1px; text-align: center;" class="text-center">UBICACIÓN FISICA DEL EQUIPO</th>
					<th style="border: solid 1px; text-align: center;" class="text-center">FACTURA</th>
				</tr>
			</thead>
			<tbody>
				<tr style="border: solid 1px;" ng-repeat="(i, obj) in resguardo">
					<td style="border: solid 1px; text-align: center;" class="text-center">{{obj.nombre_equipo}}</td>
					<td style="border: solid 1px; text-align: center;" class="text-center">{{obj.marca}}</td>
					<td style="border: solid 1px; text-align: center;" class="text-center">{{obj.modelo}}</td>
					<td style="border: solid 1px; text-align: center;" class="text-center">{{obj.numero_serie}}</td>
					<td style="border: solid 1px; text-align: center;" class="text-center">{{obj.folio}}</td>
					<td style="border: solid 1px; text-align: center;" class="text-center">{{obj.departamento}}</td>
					<td style="border: solid 1px; text-align: center;" class="text-center">{{obj.numero_factura}}</td>
				</tr>
			</tbody>
		</table>
		<br>

		<table class="table table-bordered" style="border-collapse: collapse; width:100%; ">
			<thead>
				<tr style="border: solid 1px; background-color: #999999;">
            <th colspan="5" style="text-align: center;" >COMPONENTES BASICOS DEL EQUIPO</th>
				</tr>
				<tr>
					<th style="border: solid 1px; text-align: center;" class="text-center">PROCESADOR</th>
					<th style="border: solid 1px; text-align: center;" class="text-center">VEL. PROCESADOR (GHz)</th>
					<th style="border: solid 1px; text-align: center;" class="text-center">MEMORIA RAM</th>
					<th style="border: solid 1px; text-align: center;" class="text-center">CAPACIDAD DEL DISCO DURO O ESTADO SOLIDO</th>
					<th style="border: solid 1px; text-align: center;" class="text-center">SISTEMA OPERATIVO</th>
	
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(i, obj) in resguardo track by i" ng-if="obj.procesador || obj.vel_procesador || obj.memoria_ram || obj.capacidad_almacenamiento || obj.sistema_operativo">
					<td style="border: solid 1px; text-align: center;" class="text-center">{{obj.procesador}}</td>
					<td style="border: solid 1px; text-align: center;" class="text-center">{{obj.vel_procesador}}</td>
					<td style="border: solid 1px; text-align: center;" class="text-center">{{obj.memoria_ram}}</td>
					<td style="border: solid 1px; text-align: center;" class="text-center">{{obj.capacidad_almacenamiento}}</td>
					<td style="border: solid 1px; text-align: center;" class="text-center">{{obj.sistema_operativo}}</td>
					
				</tr>
			</tbody>
		</table>
		<br> 
	
		<div  style="border: solid 1px;">

			<p style="font-weight: bold; text-align: center; margin-top: 5px; font-size: 11px;">OBSERVACIONES GENERALES RESPECTO AL HARDWARE Y SOFTWARE REGISTRADO</p>
			<ol style=" text-align: start; margin-top: 0; ">
				<li style="font-size: 11px; ">EQUIPO COMPLETAMENTE NUEVO</li>
				<li style="font-size: 11px; ">SE INSTALÓ PROGRAMAS BÁSICOS PARA USO DE ACTIVIDADES DIARIAS</li>
				<li style="font-size: 11px; ">CONFIGURACIÓN DE IMPRESORA</li>
				<li style="font-size: 11px; ">SE CONFIGURÓ EL CORREO ELECTRONICO</li>
			
			
			</ol>
		</div>
		<br>
		
		<P style="background-color: #999999; border: solid 1px; text-align: start; font-weight: bold;">
			MANIFIESTO L ACEPTACIÓN DEL RESGURADO Y EL BUEN USO DE LOS BIENES QUE SE LE ENLISTAN ARRIBA, 
			LOS CUALES SON PROPIEDAD DE LA EMPRESA MAYUCSA Y ME HAN SIDO ASIGNADOS COMO 
			APOYO A MIS FUNCIONES EN EL PAPEL DE TRABAJADR DEL MISMO
			
		</P>

		<div style=" display: flex;"> 
			<div style=" flex: 1;  margin: 10px;  padding: 15px; ">
				<P style="text-align: center;">NOMBRE Y FIRMA</P>
				<br>
				 <!-- Línea horizontal -->
				 <hr>

				 <!-- Descripción debajo de la línea -->
				 <p style="text-align: center;">RESGUARDANTE.</p>

			</div>
			<div style=" flex: 1;  margin: 10px;  padding: 15px;">
				<P style="text-align: center;">NOMBRE Y FIRMA</P>
				<br>
				 <!-- Línea horizontal -->
				 <hr>

				 <!-- Descripción debajo de la línea -->
				 <p style="text-align: center;">JEFE DE TECNOLOGÍAS DE LA INFORMACIÓN Y COMUNICACIONES.</p>
 
			</div>
		</div>

		
	</div>	
</div>